<ion-view title="My Drops" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="myDrops-card21">
      <ion-item class="item-avatar" id="myDrops-list-item8">
        <h2>Apples</h2>
      </ion-item>
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div class="item item-body" id="myDrops-list-item-container2">
        <div id="myDrops-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Replace this pleasesaes</p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>